<div id="p-register">
  <div class="g2" style="display:grid; grid-template-columns:1fr 1fr; gap:10px;">
    <Nimbus-input-field label="FIRST NAME" placeholder="First name" type="text"></Nimbus-input-field>
    <Nimbus-input-field label="LAST NAME" placeholder="Last name" type="text"></Nimbus-input-field>
  </div>
  <Nimbus-input-field label="EMAIL ADDRESS" placeholder="name@example.com" type="email"></Nimbus-input-field>
  <Nimbus-password-field placeholder="min. 8 characters"></Nimbus-password-field>

  <Nimbus-button id="register-btn" icon="ti-user-plus">
    Request Account
  </Nimbus-button>

  <Nimbus-banner id="pending-note" icon="ti-clock" type="info">
    New accounts are manually approved by an administrator before you can sign in. This may take a few days. You will receive an email when your account is approved.
  </Nimbus-banner>
</div>