<div [class.error]="showError()" class="field pw-row">
  <label>PASSWORD</label>
  @if (control()) {
    <input [formControl]="control()!" [placeholder]="placeholder()" [type]="fieldType()" class="fi" id="pw-reg">
  } @else {
    <input (input)="onInput($event)" [placeholder]="placeholder()" [type]="fieldType()" [value]="value()" class="fi" id="pw-reg">
  }
  <button (click)="showPassword.set(!showPassword())" aria-label="Show password" class="pw-toggle" data-target="pw-reg" type="button"><i aria-hidden="true" class="ti ti-eye"></i></button>
  <div class="err-msg">{{ errorMessage() }}</div>
</div>
