<div class="field pw-row" [class.error]="showError()">
  <label>PASSWORD</label>
  @if (control()) {
    <input class="fi" [formControl]="control()!" [type]="fieldType()" id="pw-reg" [placeholder]="placeholder()" [value]="value()" (input)="onInput($event)" >
  } @else {
    <input class="fi" [type]="fieldType()" id="pw-reg" [placeholder]="placeholder()" [value]="value()" (input)="onInput($event)" >
  }
  <button type="button" class="pw-toggle" data-target="pw-reg" aria-label="Show password" (click)="showPassword.set(!showPassword())"><i class="ti ti-eye" aria-hidden="true"></i></button>
  <div class="err-msg">{{ errorMessage() }}</div>
</div>
